.contactSec {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  position: relative;
}
.contactSec__title {
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  font-family: 'Inter', sans-serif;
  font-size: 15rem;
  margin-left: -5.5rem;
}
/* .contactSec__wrapper {
  display: flex;
  margin-left: 20rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
} */
