.loadingPage {
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  overflow: hidden;
  position: relative;
}
.loadingPage__para {
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  /* font-family: 'Inter', sans-serif; */
  font-size: 6rem;
  top: 20%;
  margin-left: -3rem;
  animation: textReveal 6s ease-in-out;
  transition: transform 1s ease-in-out;
}
.loadingPage__para:hover {
  transform: translateX(100px);
}

.loadingPage__logo {
  width: 10%;
  position: absolute;
  top: 35%;
  left: 45%;
  animation: logoAnim 2s cubic-bezier(1, 0.12, 0.25, 1.01);
}

.loadingPage__sign-svg {
  width: 40%;
  position: absolute;
  top: 25%;
  left: 25%;
}

@keyframes logoAnim {
  0% {
    opacity: 0;
    transform: scale(8);
  }
  10% {
    opacity: 1;
    transform: scale(7);
  }

  70% {
    opacity: 1;
    transform: scale(1) rotate(-15deg);
  }
  80% {
    opacity: 1;
    transform: scale(1) rotate(-15deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes textReveal {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 414px) {
  .loadingPage__para {
    font-size: 3.5rem;
    top: 10%;
    margin-left: -2rem;
  }
  .loadingPage__logo {
    width: 170px;
    position: absolute;
    top: 28%;
    left: 29%;
  }
  .loadingPage__sign-svg {
    width: 120%;
    position: absolute;
    top: 35%;
    left: -25%;
  }
}
@media (max-width: 768px) and (min-width: 415px) {
  .loadingPage__para {
    font-size: 4.5rem;
    top: 20%;
    margin-left: -2rem;
  }
  .loadingPage__logo {
    width: 140px;
    position: absolute;
    top: 34%;
    left: 39%;
  }
  .loadingPage__sign-svg {
    width: 70%;
    position: absolute;
    top: 36%;
    left: 40px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .loadingPage__para {
    font-size: 5.5rem;
    top: 10%;
    margin-left: -3rem;
  }
  .loadingPage__logo {
    width: 140px;
    position: absolute;
    top: 34%;
    left: 39%;
  }
  .loadingPage__sign-svg {
    width: 600px;
    position: absolute;
    top: 28%;
    left: 5%;
  }
}
