.nav {
  height: 12vh;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.7);
  /* background: transparent; */
  position: absolute;
  font-family: 'Lato', sans-serif;

  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 12;
  /* opacity: 0.3; */
}
.nav__name {
  margin-left: 7rem;
  transition: transform 1s ease 0.1s;
  cursor: crosshair;
}
.nav__name:hover {
  transform: translateX(100px);
}

.nav__details {
  display: flex;
  flex-basis: 20rem;
  justify-content: space-between;
  margin-right: 7rem;
}

.nav__details-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav__details-link:hover {
  color: #c34;
  /* border-bottom: 1px solid white; */
}

@media (max-width: 414px) {
  .nav__name {
    margin-left: 1rem;
  }
  .nav__name:hover {
    transform: translateX(0px);
  }
  .nav__details {
    display: flex;
    flex-basis: 10rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 0.3rem;
  }
  .nav-hidden {
    display: none;
  }
}
