.nav {
  height: 12vh;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.5);
  /* background: transparent; */
  position: absolute;

  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 12;
  /* opacity: 0.3; */
}
.nav__name {
  margin-left: 7rem;
}

.nav__details {
  display: flex;
  flex-basis: 20rem;
  justify-content: space-between;
  margin-right: 7rem;
}

.nav__details-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav__details-link:hover {
  color: #c34;
  /* border-bottom: 1px solid white; */
}
