.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Inter', sans-serif;

  font-weight: 200;
}
.sideNav-logo {
  position: absolute;
  top: 2%;
  left: 0;
  margin-left: 1rem;
  width: 80%;
  cursor: pointer;
}

.sideNav__para > p {
  font-family: 'Shadows Into Light', cursive;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  margin-top: 1.9rem;
  height: 510px;
  word-wrap: break-word;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.sideNav__socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: 1rem;
  /* align-content: space-between; */
}

.sideNav__socials-ic {
  width: 45px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: background-color 1s ease;
  padding: 0.2rem;
  border-radius: 5px;
}

.sideNav__socials-ic:hover {
  background-color: rgb(255, 255, 255);
  /* transform: scale(1.1); */
}
@media (max-height: 555px) {
  .sideNav__para > p {
    margin-top: 4rem;
    height: 200px;
    margin-left: 2rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .sideNav__socials-ic {
    width: 33px;
  }
}
@media (max-height: 900px) and (min-height: 555px) {
  .sideNav__para > p {
    margin-top: 2.1rem;
    height: 350px;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 400;
  }
  .sideNav__socials-ic {
    width: 37px;
  }
}

@media (max-width: 414px) {
  .sideNav {
    height: 100vh;
  }
  .sideNav__para > p {
    margin-top: 6rem;
    height: 300px;
    margin-left: 2rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .sideNav__socials {
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }
  .sideNav__socials-ic {
    width: 30px;

    margin-bottom: 0.3rem;

    padding: 0rem;
  }
  .sideNav-logo {
    margin-left: 1rem;
    width: 120%;
  }
}

@media (max-width: 768px) and (min-width: 414px) {
  .sideNav {
    height: 100vh;
  }
  .sideNav__para > p {
    margin-top: 7rem;
    height: 300px;
    margin-left: 2rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .sideNav__socials {
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }
  .sideNav__socials-ic {
    width: 28px;
    margin-left: -0.4rem;
    margin-bottom: 0.3rem;

    padding: 0rem;
  }
  .sideNav-logo {
    margin-left: 1rem;
    width: 120%;
  }
}
