.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Inter', sans-serif;

  font-weight: 200;
}
.sideNav-logo {
  position: absolute;
  top: 2%;
  left: 0;
  margin-left: 1rem;
  width: 80%;
  cursor: pointer;
}

.sideNav__para > p {
  font-family: 'Shadows Into Light', cursive;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  margin-top: 2.3rem;
  height: 510px;
  word-wrap: break-word;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.sideNav__para > img {
  width: 30px;
}
.sideNav__socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  /* align-content: space-between; */
}

.sideNav__socials-ic {
  width: 45px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: background-color 1s ease;
  padding: 0.2rem;
  border-radius: 5px;
}

.sideNav__socials-ic:hover {
  background-color: rgb(255, 255, 255);
  /* transform: scale(1.1); */
}
