.siteBase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 60vh;
  margin: 2rem;
  border-bottom: 1px solid black;
  /* left: 100px; */

  /* padding: 2rem; */
}
.siteBase__para {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 40%;
  padding: 0 2rem;
  margin-left: 3rem;
}
.siteBase__para > h2 {
  font-family: 'Lato', sans-serif;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

.siteBase__para > h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  /* font-weight: 500; */
  text-align: left;
}
.siteBase__img-wrap {
  overflow: hidden;
  width: 70%;
  height: 50vh;
  border-radius: 20px;
}
.siteBase__img-img {
  width: 100%;
  /* height: 60vh; */
  object-fit: cover;
  /* border-radius: 20px; */
  cursor: pointer;

  /* border-radius: 20px;
  box-shadow: 2px 5px 10px -3px rgb(66, 66, 66); */
}

.siteBase__img-wrap {
  transition: transform 1s ease;
  border-radius: 8px;
}
.siteBase__img-wrap:hover {
  transform: translateX(100px);
}

@media (max-width: 414px) {
  .siteBase {
    flex-direction: column-reverse;
    /* justify-content: flex-start; */
    align-items: center;
    overflow: hidden;
    height: 60vh;
    margin: 1rem 0rem;
    margin-left: 4rem;
    border-bottom: 1px solid black;
  }
  .siteBase__para {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 200px;

    padding: 0 0rem;
    margin-left: -7rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  .siteBase__para > h2 {
    width: 300px;

    font-size: 1.5rem;
    font-weight: 900;
  }
  .siteBase__para > h3 {
    /* min-width: 150px; */
    /* width: 230px;
    max-width: 260px; */
    width: 70vw;
    font-size: 1rem;
    font-weight: 600;
  }

  .siteBase__img-wrap {
    overflow: hidden;
    width: 110%;
    height: 50vh;
    border-radius: 20px;
  }
  .siteBase__img-img {
    width: 110%;
  }
  .siteBase__img-wrap {
    border-radius: 4px;
  }
}
